In [3]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import scipy as sp
import seaborn as sns
import statsmodels.api as sm
import statsmodels.tsa.api as smt
from sklearn.model_selection import train_test_split
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [4]:
df = pd.read_csv('C:/Users/signi/Downloads/sample.csv')

In [5]:
df.head()

   Maths  Physics
0     92       98
1     56       68
2     88       81
3     70       80
4     80       83

In [6]:
X = df[['Maths']]
Y = df[['Physics']]

In [7]:
X.head()

   Maths
0     92
1     56
2     88
3     70
4     80

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.30, random_state=42)

In [9]:
X_with_constant = sm.add_constant(X_train)
model = sm.OLS(y_train, X_with_constant)

In [10]:
results = model.fit()
results.params

const   -3.719444
Maths    1.080556
dtype: float64

In [11]:
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                Physics   R-squared:                       0.922
Model:                            OLS   Adj. R-squared:                  0.906
Method:                 Least Squares   F-statistic:                     58.93
Date:                Fri, 02 Sep 2022   Prob (F-statistic):           0.000598
Time:                        15:18:31   Log-Likelihood:                -21.903
No. Observations:                   7   AIC:                             47.81
Df Residuals:                       5   BIC:                             47.70
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -3.7194     10.295     -0.361      0.733     -30.184      22.745
Maths          1.0806      0.141      7.677      0.001       0.719       1.442
==============================================================================
Omnibus:                          nan   Durbin-Watson:                   2.091
Prob(Omnibus):                    nan   Jarque-Bera (JB):                0.332
Skew:                          -0.476   Prob(JB):                        0.847
Kurtosis:                       2.520   Cond. No.                         305.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

C:\Users\signi\anaconda3\lib\site-packages\statsmodels\stats\stattools.py:74: ValueWarning: omni_normtest is not valid with less than 8 observations; 7 samples were given.
  warn("omni_normtest is not valid with less than 8 observations; %i "

In [12]:
X_test = sm.add_constant(X_test)

In [13]:
y_pred = results.predict(X_test)

In [14]:
residual = y_test - y_pred

In [17]:
X_test.head()

   const  Maths
8    1.0     66
1    1.0     56
5    1.0     49

In [20]:
manual1 = 3.7194 + (1.0806 * 66)
manual2 = 3.7194 + (1.0806 * 56)
manual3 = 3.7194 + (1.0806 * 49)

In [21]:
print(manual1)
print(manual2)
print(manual3)

75.03899999999999
64.23299999999999
56.6688